.welcomeScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
  background-image: url("../../assets/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden; 
}

@media screen and (max-width: 600px) {
  .welcomeScreen {
    background-size: auto 100%; 
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .welcomeScreen {
    background-size: auto 100%;
  }
}

@media screen and (min-width: 1025px) {
  .welcomeScreen {
    background-size: cover;
  }
}
.welcomeScreen.darkMode {
  background-color: #333;
  color: white;

}
  
  .logo {
    width: 150px;
    margin-bottom: 20px;
  }
  
  .card {
    position: relative;
    background: rgb(233, 245, 249);
    border-radius: 20px;
    border: 2px solid black;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
  }
  @media screen and (min-width: 600px) {
    .card {
      width: 80%; /* You can adjust this value as needed */
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      width: 60%; /* You can adjust this value as needed */
    }
  }
  .card.darkMode {
    background: #333; 
    color: white;
    border: 1px solid white;
  }
  
  .heartIcon {
    display: flex;
    justify-content: end;
  }
  
  .heartIcon img {
    width: 40px;
  }
  
  .startButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
  }
  .startButton.darkMode {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
  }
  
  .startButton:hover {
    background-color: #45a049; 
  }
  